page-busservicelist {

.demo-main-cont.demo-comp-listview { padding: 0; }
.demo-comp-listview .demo-note { margin: 10px; }

.md-thumbs {
    display: inline;
    float: right;
}

.md-thumbs-up,
.md-thumbs-down {
    display: inline;
}

.md-movies p.mbsc-lv-txt {
    font-size: 1em;
    display: inline-block;
}

.demo-main-cont.demo-comp-listview { padding: 0; }
.demo-comp-listview .demo-note { margin: 10px; }

.md-groupsort .mbsc-lv .mbsc-lv-item .md-img {
    border-radius: 40px;
}

.md-price {
    float: right;
}

.md-total {
    float: right;
    
    
}

.md-topmargin {
    
    margin-top: 5px;
}

}
