<!--
  Generated template for the BusservicelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="induscolor">
    <ion-title>Bus Services</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <mbsc-listview [options]="listviewSettings">
        <mbsc-listview-item *ngFor="let item of data">
            <img *ngIf="!item.header" src="{{item.imgsrc}}" class="md-img"> {{item.name}}
            <span class="md-price">{{item.price}}</span>
            <div class="md-topmargin">Dep:{{item.dtime}}<span class="md-total">Running:{{item.rtime}}</span></div>
        </mbsc-listview-item>
    </mbsc-listview>

</ion-content>
